.green {
	color: green;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.grey {
	color: grey;
}

.animated {
  position: relative;	
  animation: animate 5s linear infinite;
}

.sliding {
  position: relative;
  animation: slide 2s linear infinite;
}

@keyframes slide {
	0% { left: -2em;}
	100% { left: 2em;}
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

.centered {
	text-align: center;
}

th {
	font-weight: bold;
}

body { width: 100%; max-width: 100%; }
i.fas { padding: 5px; }
dt { font-weight: bold; }

#slideout {
  position: fixed;
  top: 5px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #949494;
  padding: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#slideout_inner {
  position: fixed;
  display: table;
  top: 5px;
  left: -200px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #efefef;
  width: 200px;
}

#slideout_inner > a {
	display: table-cell;
	text-align: center;
}

#slideout:hover {
  left: 200px;
}
#slideout:hover #slideout_inner {
  left: 0;
}