	<section id="jobs">
	<table>
	  <tr>
	    <th class="centered">#</th>
	    <th>User</th>
	    <th>Version</th>
	    <th>Environment</th>
	    <th>Workflow</th>
	    <th class="centered">Status</th>
	    <th class="centered">started</th>
	    <th class="centered">Duration</th>
	  </tr>
	{{#jobs}}
		{{>job}}
	{{/jobs}}
	</table>
	</section>