{{>header.inc}}
   <style> 
   		label, select { display: inline-flex; } 
   		section#execution { text-align: center; font-size: 120%; }
   		button#execute { color: red; margin-left: 2em; min-width: 5em; max-width: 5em; }
   		span.subtext { font-size: 75%; position: relative; top: -1ex; }
   		div#slideout_inner a { text-decoration: none; }
   		section#execution select { max-width: 20em; } 
    </style>
</head>

<body>
	<div id="slideout">
  		<i class="fas fa-chevron-right fa-2x"></i>
  		<div id="slideout_inner">
    		<form id="logout-form" action="/logout" method="post">
        		<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
    		</form>
    		<a href="/account" title="User account"><i class="fas fa-user fa-2x"></i><br/><span class="subtext">{{ user }}</span></a>
    		<a href="#" title="Logout" onclick="document.getElementById('logout-form').submit();"><i class="fas fa-sign-out-alt fa-2x"></i><br/><span class="subtext">Logout</span></a>
    		<a href="/settings" title="Settings"><i class="fas fa-cog fa-2x"></i><br/><span class="subtext">Settings</span></a>
  		</div>
	</div>
	
    <section id="execution">
		<form action="/execution" method="post">
			<label for="workflow">Execute workflow</label>
			<select name="workflow" id="workflow">
			{{#workflows}}
				<option>{{.}}</option>
			{{/workflows}}
			</select>
			<label for="version">from branch</label>
			<select name="version" id="version">
			{{#versions}}
				<option>{{.}}</option>
			{{/versions}}
			</select>
			<label for="environment">on environment</label>
			<select name="environment" id="environment">
			<option></option>
			{{#environments}}
				<option>{{.}}</option>
			{{/environments}}
			</select>
			<input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
			<button type="submit" id="execute" onfocus="a()" onblur="b()" onmouseenter="a()" onmouseleave="b()"><i id="play" class="fas fa-play"></i></button>
		<form>
	</section>
	<hr>
	<div id="reload-target">
	{{>index_fragment}}
	</div>
	<script>
function reloadJobs() {
  var opts = {
    method: 'GET',
    credentials: 'include',      
  };
  fetch('/update', opts).then(function (response) {
    var element = document.getElementById("reload-target");
    if(response.ok) {
        response.text().then(function (body) {
            element.innerHTML = body;
        });
    }

    setTimeout(reloadJobs, 5000);
  });
}

function a() {
    document.getElementById("play").className = "fas fa-dragon sliding";
}

function b() {
    document.getElementById("play").className = "fas fa-play";
}

function setExecution(version, environment, workflow) {
	document.getElementById("version").value = version.substr(0,version.indexOf(' '));
	document.getElementById("environment").value = environment;
	document.getElementById("workflow").value = workflow;
	
	event.stopPropagation();
}

{{#error}}
window.addEventListener("load",function() {
	var element = document.getElementById("snackbar");
	element.innerHTML = "{{error}}"; 
	element.className = "show error";
	setTimeout(function(){ element.className = element.className.replace("show", "");}, 3000);
});
{{/error}}
    
setTimeout(reloadJobs, 5000);
</script>
	{{>footer.inc}}
</body>
</html>