<tr class="job" onclick="window.location='/job/{{id}}';">
 	<td class="centered"><i class="fas fa-sync-alt" onclick="setExecution('{{version}}', '{{environment}}', '{{workflow}}')"></i>{{id}}</td>
 	<td>{{user}}</td>
 	<td>{{version}}</td>
 	<td>{{environment}}</td>
 	<td>{{workflow}}</td>
 	<td class="centered"><i class="fas {{status}}" title="{{status.name}} {{formattedFinishedAt}}"></i>
 	</td>
 	<td class="centered"><span title="{{formattedStartedAt}}">{{startedAgo}}</span></td>
 	<td class="centered"><span title="{{formattedStartedAt}} - {{formattedFinishedAt}}">{{runningFor}}</span></td>
</tr>