<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
	<section id="steps" data-running-job="{{reload}}">
	<table>
	  <tr>
	    <td>Run...</td>
	    <td>Playbook</td>
	    <td class="centered">Status</td>
	    <td class="centered">started</td>
	    <td class="centered">Duration</td>
	  </tr>
	<tbody>
	{{#steps}}
		{{>step}}
	{{/steps}}
	</tbody>
	</table>
	</section>
