{{>header.inc}}
   <style> 
   		section#steps { text-align: center; font-size: 120%; }
   		i#abort { color: red; }
   </style>
</head>

<body>
	{{>nav.inc}}
	<a href="/job/{{job}}"><i class="fas fa-sync-alt fa-2x"></i></a>
	{{#reload}}
	<i id="abort" class="fas fa-ban fa-2x" onClick="abortJob()"></i>
	{{/reload}}
	<div id="reload-target">
	{{>job_detail_fragment}}
	</div>
	<script>
function abortJob() {
  var opts = {
    method: 'DELETE',
    credentials: 'include',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRF-TOKEN': '{{_csrf.token}}'
    },
  };
  fetch('/job/{{job}}', opts);
}

function reloadSteps() {
  var opts = {
    method: 'GET',
    credentials: 'include',      
  };
  fetch('/job/{{job}}/update', opts).then(function (response) {
    if(response.ok) {
        response.text().then(function (body) {
            var element = document.getElementById("reload-target");
            element.innerHTML = body;
            
            var element = document.getElementById("steps");
            var abortElement = document.getElementById("abort");
            if(element.dataset.runningJob === "true") {
    	        setTimeout(reloadSteps, 5000);
            } else {
                abortElement.style.display = "none";
            }
        });
    } else {
        setTimeout(reloadSteps, 5000);
    }
  });
}

{{#reload}}setTimeout(reloadSteps, 5000);{{/reload}}
</script>
	{{>footer.inc}}
</body>
</html>