{{>header.inc}}
   <style> 
   		code { background-color: white; }
   		span.error { color: red; text-decoration: underline wavy red; } 
    </style>
</head>

<body>
    {{>nav.inc}}
	<a href="#" onClick="reloadSettings()"><i class="fas fa-sync-alt fa-2x"></i></a>

	<h1>Settings</h1>
	<section id="build">
	<h2>Build</h2>
	<code>{{leanest-version}} {{leanest-timestamp}}</code>
	</section>
	<section id="settings">
	<h2>Versions</h2>
	<dl>
	{{#versions}}
		<dt>{{key}}</dt><dd>Branch <code>{{value.branch}}</code></dd>
	{{/versions}}
	</dl>
	<h2>Environments</h2>
	<dl>
	{{#environments}}
		<dt>{{key}}</dt><dd>Inventory <code>{{value.inventory}}</code></dd>
	{{/environments}}
	</dl>
	<h2>Workflows</h2>
	<dl>
	{{#workflows}}
		<dt>{{key}}</dt>
		<dd><ul>
		{{#value.steps}}
			<li><code>{{{.}}}</code></li>
		{{/value.steps}}
		</ul></dd>
	{{/workflows}}
	</dl>
	<h2>Git remote</h2>
	<code>{{gitremote}}</code>
	<h2>Workdir</h2>
	<code>{{workdir}}</code>
	</section>
<script>
function reloadSettings() {
  var opts = {
    method: 'POST',
    credentials: 'include',      
    headers: {
      'Content-Type': 'application/json',
      'X-CSRF-TOKEN': '{{_csrf.token}}'
    }
  };
  fetch('/actuator/refresh', opts).then(function (response) {
    var element = document.getElementById("snackbar");
    if(response.ok) {
		element.innerHTML = "Settings reloaded!"; 
    } else {
        element.innerHTML = "Error reloading settings, HTTP status code " + response.status + "!";
    }
    element.className = "show";
    setTimeout(function(){ element.className = element.className.replace("show", ""); location.reload();}, 3000);
  });
}
</script>
    {{>footer.inc}}
</body>
</html>