{{>header.inc}}
   <style> 
   		samp#log { white-space: pre; line-height: 0; }
   		#scrollfix { position: fixed; bottom: 0px; right: 0px; }
   		#jumptotop { position: fixed; top: 0px; right: 0px; }
   		.deactivated { color: lightgray; }
   </style>
</head>

<body id="body">
    {{>nav.inc}}
	<a href="/job/{{job}}/step/{{step}}"><i class="fas fa-sync-alt fa-2x"></i></a>
	<h1 id="title">{{title}}</h1>
	<h2 id="subtitle">{{subtitle}}</h2>
	<samp id="log" data-loglength="{{loglength}}">{{log}}</samp>
	<i class="fas fa-angle-double-down fa-3x" id="scrollfix" onclick="toggleScroll()"></i> 
	<i class="fas fa-angle-double-up fa-3x" id="jumptotop" onclick="jumpToTop()"></i> 
	<script>
function reloadLog() {
  var opts = {
    method: 'GET',
    credentials: 'include',      
  };
  var element = document.getElementById("log");
  fetch('/job/{{job}}/step/{{step}}/update?start='+element.dataset.loglength, opts).then(function (response) {
  	var reload = response.headers.get('X-Reload') || false;
    if(response.ok) {
        element.dataset.loglength = response.headers.get('X-Log-Length') || 0;
        var subtitle = response.headers.get('X-Subtitle') || '';
        var title = response.headers.get('X-Title') || '';
        response.text().then(function (body) {
            element.innerHTML = element.innerHTML + body;
            
            if(autoscroll === true) {
              element = document.getElementById("body");
              element.scrollIntoView({ behavior: 'smooth', block: 'end' });
            }
            
            element = document.getElementById("subtitle");
            element.innerHTML = subtitle;
            
            element = document.getElementById("title");
            element.innerHTML = title;
            
            if(reload) {
              setTimeout(reloadLog, 5000);
            }
        });
    } else {
        if(reload) {
          setTimeout(reloadLog, 5000);
        }
    }
  });
}

function jumpToTop() {
  autoscroll = false;
  document.getElementById("scrollfix").classList.add("deactivated");
  var element = document.getElementById("body");
  element.scrollIntoView({ behavior: 'smooth', block: 'start' });
}

function toggleScroll() {
  if(autoscroll === true) {
  	autoscroll = false;
  	document.getElementById("scrollfix").classList.add("deactivated");
  } else {
    autoscroll = true;
    document.getElementById("scrollfix").classList.remove("deactivated");
    var element = document.getElementById("body");
    element.scrollIntoView({ behavior: 'smooth', block: 'end' });
  }
}

var autoscroll = false;

{{#reload}}toggleScroll(); setTimeout(reloadLog, 5000);{{/reload}}
</script>
</body>
</html>