<tr class="step" onclick="window.location='/job/{{jobid}}/step/{{step}}';">
 	<td>{{executeOn}}</td>
 	<td>{{playbook}}</td>
 	<td class="centered"><i class="fas {{status}}" title="{{status.name}} {{finishedAt}}"></i></td>
 	<td class="centered"><span title="{{startedAt}}">{{startedAgo}}</span></td>
 	<td class="centered"><span title="{{startedAt}} - {{finishedAt}}">{{runningFor}}</span></td>
</tr>